<div class="singleHouseCard" style="margin-top:1em !important;margin-bottom:5% !important;">
   <div class="row text-center"  style="color: white; size:10em" *ngIf="house">
      <div  class="col col-sm-12 col-md-12">
         <i class="fa fa-home fa-5x" aria-hidden="true"></i>
         <h2 style="margin: 10px 5px;" *ngIf ='house.name != ""'><b> {{ house.name }}  </b></h2>
         <hr style=" border-top: 1px solid white; margin-top: 5px;">
         <hr/>
         <i class="fa fa-accessible-icon"></i>
      </div>
      <div class="col col-sm-5 col-md-5 text-center">
         <div style="color: white;">
            <div class="col col-sm-12 col-md-12">
               <h6>Region : {{house.region|| "Data Unavailable"}}</h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>Seats : {{ house.seats[0] || "Data Unavailable" }}</h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>Titles : {{house.titles || "Data Unavailable"}}</h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>Founded : {{ house.founded || "Data Unavailable" }}</h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>
                  Founder : 
                  <h6><a [routerLink]="['/character',house.founder.split('/').pop()]" style="color: #81d0e7;">{{ house.founder }}</a></h6>
                  <h6 *ngIf="house.founder==''">Data Unavailable</h6>
               </h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>Words: {{ house.words || "Data Unavailable" }}</h6>
            </div>
         </div>
      </div>
      <div class="col col-sm-1 col-md-1">
         <!-- Blank space for UI purposes -->
      </div>
      <div class="col col-sm-5 col-md-5 text-center">
         <div style="color: white;">
            <div class="col col-sm-12 col-md-12">
               <h6>
                  Heir : 
                  <h6><a [routerLink]="['/character',house.heir.split('/').pop()]" style="color: #81d0e7;">{{ house.heir }}</a></h6>
                  <h6 *ngIf="house.heir==''">Data Unavailable</h6>
               </h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>
                  Current Lord : 
                  <h6><a [routerLink]="['/character',house.currentLord.split('/').pop()]" style="color: #81d0e7;">{{ house.currentLord  }}</a></h6>
                  <h6 *ngIf="house.currentLord==''">Data Unavailable</h6>
               </h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>
                  Overlord :
                  <h6 class="h6"><a [routerLink]="['/character',house.overlord.split('/').pop()]" style="color: #81d0e7;">{{ house.overlord  }}</a></h6>
                  <h6 *ngIf="house.overlord==''">Data Unavailable</h6>
               </h6>
            </div>
            <div class="col col-sm-12 col-md-12">
               <h6>Coat Of Arms :</h6>
               "{{ house.coatOfArms || "Data Unavailable" }}"
            </div>
         </div>
         <div class="col col-sm-12 col-md-12">
            <div *ngIf = 'house.swornMembers.length >= 1' style="color: white;">
               <h3>Sworn Members : </h3>
               <!-- <hr style=" border-top: 1px solid black; margin-top: 5px;"> 
                  <hr/> -->
               <div *ngFor ="let sworn of house.swornMembers">
                  <h6><a [routerLink] ="['/character',sworn.split('/').pop()]" style="color: #81d0e7;">{{ sworn }}</a></h6>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!--  sworn members div ends -->
   <div class="col col-sm-12 col-md-12" style="display: flex;justify-content: center;margin: 10px 0px;">
      <p><button  class="btn btn-primary"  onclick="window.history.back();">Back</button></p>
   </div>
</div>