<div class="container">
	<div class="row">
	   <div class="col col-md-12 col-xs-12">
		  <div class="row">
			 <div class="col-md-3 search-box">
				Search:
				<input type="text" [(ngModel)]="search">
			 </div>
			 <div class="text-center" id="filters">
				<!-- <button class="mbutton" (click)= "allShow()">ALL</button> -->
				<button class="mbutton" (click)= "booksShow()">BOOKS</button>
				<button class="mbutton" (click)= "charactersShow()">CHARACTERS</button>
				<button class="mbutton" (click)= "housesShow()">HOUSES</button>
				<button class="mbutton" (click)= "resetButton()">Reset</button>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
 <div class="container" >
	<div class="row" *ngIf="allData.length>0 && allData.books">
	   <div class="col-md-4  col-xs-6 col-sm-4"  style="padding:0 !important; margin:10px 0px">
		  <select class="hh form-control" [(ngModel)]="searchBookName" >
		  <option  selected="selected" value="">-- Select Name --</option>
		  <!-- <label>saff</label> -->
		  <option *ngFor="let data of allData | filterUnique : 'name'" [value]="data">{{data}}</option>
		  </select>
	   </div>
	   <div class="col-md-4  col-xs-6 col-sm-4"  style="padding:0 !important; margin:10px 0px">
		  <select class="hh form-control" [(ngModel)]="searchIsbn">
		  <option   value="" selected="selected" >-- Select Isbn --</option>
		  <option  *ngFor="let data of allData | filterUnique : 'isbn'" [value]="data">{{data}}</option>
		  </select>
	   </div>
	   <div class="col-md-4  col-xs-6 col-sm-4"  style="padding:0 !important; margin:10px 0px">
		  <!-- <input type="text" [(ngModel)]="searchPublisher"> -->
		  <select class="hh form-control" [(ngModel)]="searchPublisher">
		  <option  value="" selected="selected" >--Select Publisher--</option>
		  <option *ngFor="let data of allData | filterUnique : 'publisher'"  [value]="data">{{data}}</option>
		  </select>
	   </div>
	</div>
 </div>
 <!-- for character filter -->
 <div class="container" >
	<div class="row" *ngIf="allData.length>0 && allData.characters">
	   <div class="col-md-4  col-xs-6 col-sm-4"  style="padding:0 !important; margin:10px 0px">
		  <select class="hh form-control" [(ngModel)]="searchCharacterName" >
		  <option  selected="selected" value="">-- Select Name --</option>
		  <option *ngFor="let data of allCharArray | filterUnique : 'name'" [value]="data">{{data}}</option>
		  </select>
	   </div>
	   <div class="col-md-4  col-xs-6 col-sm-4"  style="padding:0 !important; margin:10px 0px">
		  <select class="hh form-control" [(ngModel)]="searchGender">
		  <option   value="" selected="selected" >-- Select Gender --</option>
		  <option  *ngFor="let data of allCharArray | filterUnique : 'gender'" [value]="data">{{data}}</option>
		  </select>
	   </div>
	   <div class="col-md-4  col-xs-6 col-sm-4"  style="padding:0 !important; margin:10px 0px">
		  <select class="hh form-control" [(ngModel)]="searchAliases">
		  <option  value="" selected="selected" >--Select Alias--</option>
		  <option *ngFor="let data of allCharArray | filterUnique : 'aliases'"  [value]="data">{{data}}</option>
		  </select>
	   </div>
	</div>
 </div>
 <!-- for houses filter -->
 <div class="container" >
	<div class="row" *ngIf="allData.length>0 && allData.houses">
	   <div class="col-md-6  col-xs-6 col-sm-6"  style="padding:0 !important; margin:10px 0px">
		  <select class="hh form-control" [(ngModel)]="searchHouseName" >
		  <option  selected="selected" value="">-- Select Name --</option>
		  <option *ngFor="let data of allHouseArray | filterUnique : 'name'" [value]="data">{{data}}</option>
		  </select>
	   </div>
	   <div class="col-md-6  col-xs-6 col-sm-6"  style="padding:0 !important; margin:10px 0px">
		  <select class="hh form-control" [(ngModel)]="searchRegion">
		  <option   value="" selected="selected" >-- Select Regoin --</option>
		  <option  *ngFor="let data of allHouseArray | filterUnique : 'region'" [value]="data">{{data}}</option>
		  </select>
	   </div>
	</div>
 </div>
 <div class="container">
	<div class="row" *ngIf="allData.length>0">
	   <div  *ngFor="let data of allData	|filter:search|searchFilter : searchIsbn:'isbn' |searchFilter : searchBookName:'name'|searchFilter : searchPublisher:'publisher' |searchFilter : searchCharacterName:'name' |searchFilter : searchGender:'gender' |searchFilter : searchAliases:'aliases' |searchFilter : searchHouseName:'name'|searchFilter : searchRegion:'region'|sort|select:view |paginate: { itemsPerPage: 10, currentPage: p }">
		  <!-- to display books -->
		  <div class="col-xs-12 col-md-4 col-sm-4  text-center " *ngIf="(allData.books || allData.all) && data.url.search('books')>-1">
			 <a [routerLink]="['/books',data.url.split('/').pop()]">
				<div class="card">
				   <img class="card-img-top" src="../../assets/bookTemplate.jpg" alt="Card image cap">
				   <div class="card-body" style="color: black; size:10em;">
					  <h5 class="card-title">{{data.name}}</h5>
					  <h6 name = "isbn" class="text-center">{{data.isbn}}</h6>
					  <h6 class="text-center">No of Pages : {{ data.numberOfPages }}</h6>
				   </div>
				</div>
			 </a>
		  </div>
		  <!-- to display characters -->
		  <div class="col-xs-12 col-md-4 col-sm-4  text-center " *ngIf="(allData.characters || allData.all) && data.gender">
			 <a [routerLink]="['/character',data.url.split('/').pop()]">
				<div class="card">
				   <img class="card-img-top" src="../../assets/House-Stark.jpg" alt="Card image cap">
				   <div class="card-body" style="color: black; size:10em;">
					  <h5 class="card-title">{{data.name || "Name Not Available" }}</h5>
					  <h6 class="text-center">Gender : {{data.gender}}</h6>
					  <h6 class="text-center">Alias : {{ data.aliases || "Alias Not Available"}}</h6>
				   </div>
				</div>
			 </a>
		  </div>
		  <!-- to display houses -->
		  <div class="col-xs-12 col-md-4 col-sm-4  text-center " *ngIf="(allData.houses || allData.all) && data.region">
			 <a [routerLink]="['/houses',data.url.split('/').pop()]">
				<div class="card">
				   <img class="card-img-top" src="../../assets/house.png" alt="Card image cap">
				   <div class="card-body" style="color: black; size:10em;">
					  <h5 class="card-title">{{data.name || "Name Not Available" }}</h5>
					  <h6 class="text-center">Region : {{data.region}}</h6>
				   </div>
				</div>
			 </a>
		  </div>
	   </div>
	</div>
	<div class="text-center" *ngIf="allData.all">
	   <pagination-controls (pageChange)="p = $event" autoHide="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>
	</div>
 </div>
 <br>
 <br>
 <br>