
.card{
  width : 25rem;
  margin: 50%; 
  height: 20rem;
  border: 2px solid;
  border-radius: 15rem;
  /* box-sizing: content-box; */
  /* -webkit-box-sizing: content-box; */
  /* -moz-box-sizing: content-box; */
  color: rgb(231, 158, 158);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background: linear-gradient(to right, #8c1ce3 0%, #9900cc 100%);
  /* margin-top: 5%; */
}
a{
  text-decoration: none;
}
.filterTitle h4 span {
  color:#62B7BA;
  font-family: 'Arima Madurai', cursive;
}
.hh{
  height:2.5em;
}
.books{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 2px solid;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  color: rgba(0,0,0,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: linear-gradient(to right, #8c1ce3 0%, #9900cc 100%);
  margin-top: 5%;
}

.card img{
  border: 1px solid lightgrey;
  width: 100%;
  height: 150px;
}

.card-title{
  font-size:18px;
  font-weight: 800;
  font-family: sans-serif;
  text-align: center;
}

.card-body{
  text-align: center;
}

.search-box, .view-box{
  margin-left: 200px;
  
}
footer{
  background-color: black;
  color: white;
}

select {
  background-color: white;
}
.fa-long-arrow-down:before{
  content:"\f175"
}
.fa-long-arrow-up:before{
  content:"\f176"
}
.fa-long-arrow-left:before{
  content:"\f177"
}
.fa-long-arrow-right:before{
  content:"\f178"
}